[build]
  publish = "/"
  command = "pip install -r requirements.txt"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200

[[redirects]]  
  from = "/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/"
  to = "/api/"
  status = 200

[functions]
  directory = "functions"
  node_bundler = "esbuild"
