[build]
  publish = "/"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/api/:splat"
  status = 200

[functions]
  directory = "functions"
